.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 50px;
}

.playerSection {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.player {
    display: flex;
    gap: 15px;
}

.playerScore {
    text-align: center;
}

.computerSection {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.computerScore {
    text-align: center;
}

.siteTittle {
    text-align: center;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 0px;
}

header {
    margin: 0px 200px;
}