.game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}
.playerSection,
.computerSection {
    height: 500px;
    width: 340px;
    box-sizing: border-box;
}
.playerSection {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.playerScore {
    text-align: center;
}

.computerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.computerScore {
    text-align: center;
}

.siteTittle {
    text-align: center;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 0px;
}

header {
    margin: 0px 200px;
}

.gameImage,
.computerImage {
    width: 340px;
    height: 340px;
}